################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pluralsight_Gighub/v16
/.vs/Pluralsight_Gighub/v15/Server/sqlite3
